body {
    font-family: Arial, Helvetica, sans-serif;
  }
 
  .card {
    margin: 20px auto;
    display: block;
    padding: 20px;
    border: 1px solid grey;
    background: radial-gradient(401px at 50.6% -0.3%, rgba(255, 255, 255, 0.31) 1.2%, rgb(36, 212, 219) 100.2%);
  }
  form {
    margin:auto;
    display: block;
  }

  .col .caracteristic {
    font-weight: 200;
    font-size: 18px;
    color: #fff;
  }

  .humidity {
    font-size: 25px;
    font-weight: 300;
  }

  .wind {
    font-size: 25px;
    font-weight: 300;
  }

  .temperatureToday {
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    color: #7c7c7c;
  }

.card-title {
    font-size: 40px;
    text-align: center;
    font-weight: 100;
    text-shadow: blue 1px 0 10px;
  }

  .today {
    font-size: 25px;
    color: #7c7c7c;
    font-weight: lighter;
  }
  .adjective {
    font-size: 20px;
    font-weight: lighter;
    color: #7c7c7c;
  }

  small {
    font-family: monospace;
    color: #7c7c7c;
  }

  .conversion a
  {
    text-decoration: none;
  }
  .conversion .active {
    color: rgb(33, 33, 33);
    cursor: default;
  }
  
  .conversion .active:hover {
    text-decoration: none;
  }

  .weather-forecast-date{
font-size: 16px;
color : #7c7c7c;
  }

  .weather-forecast-degree{
    color: #fff;
  }
   .max {
font-weight: bold;
   }